
  <body data-bs-spy="scroll" data-bs-target="#navScroll" id="start">
    <nav
      id="navScroll"
      class="navbar navbar-expand-lg navbar-light fixed-top"
      tabindex="0"
    >
      <div class="container">
        <a  class="navbar-brand pe-4 fs-4" href="/">
          <img
            src="img/logo.png"
            fill="currentColor"
            class="bi bi-layers-half logo"
            viewbox="0 0 16 16"
            alt="logo"
          >
          </img>
          <span class="ms-1 fw-bolder">استودیو اورامن</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                href="#start"
                aria-label="Brings you to the frontpage"
              >
                صفحه اصلی
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#services"
                aria-label="Brings you to the frontpage"
              >
                خدمات ما
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus"> درباره استدیو </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#call"> تماس با ما </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <div class="w-100 overflow-hidden backG bg-cover"  id="top">
        <div class="container position-relative vh">
          <div
            class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 start-0 bg-cover"
            data-aos="fade-left"
          ></div>
          <div class="row">
            <div
              class="col-lg-7 py-vh-6 position-relative"
              data-aos="fade-right"
            >
              <h1 class="display-1 fw-bold mt-5" style="font-size: 2.2rem;">
                استودیو اورامن ارائه خدمات موسیقی و برگزار کننده ورکشاپ های موسیقی
              </h1>
              <p class="lead">
                در دنیای موسیقی شنیده شوید
              </p>
              <a
                href="/request"
                style="
                  border-radius: 10px !important;
                  background-color: rgb(245, 10, 49);
                "
                class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5"
                > درخواست مشاوره </a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="py-vh-5 w-100 overflow-hidden" id="services">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div
              class="col-md-6 col-lg-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
            <h6>
              استودیو اورامن <br>ارائه دهنده ی خدمات آهنگسازی ، تنظیم ،  نوازندگی <br> رکورد ، شعر و ملودی ، میکس و مسترینگ.
              طراحی <br>آلبوم کاور ، ساخت تیزر و موزیک ویدئو ، انتشار موسیقی<br> در تمامی پلتفرم های موسیقی و اخذ مجوز از وزارت<br> فرهنگ و ارشاد اسلامی
            </div>

            <div
            class="col-md-6 col-lg-4 py-vh-4 pb-0"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <span class="h5 fw-lighter"></span>
            <h6 class="py-5 ">
              آموزش تئوری موسیقی <br />آموزش نرم افزارهای موسیقی
              <br>
              آموزش صدابرداری , آهنگ سازی و تنظیم
              <br>
              آموزش میکس و مسترینگ
            </h6>
          </div>

          <div
            class="col-md-6 col-lg-4 pb-0 py-vh-4"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <span class="h5 fw-lighter"></span>
            <h5 class="py-5"></h5>
            <p style="color: rgba(251, 253, 253, 0.605)">
              به صورت حضوری و آنلاین <br />مدت زمان هر دوره 16 جلسه ی 2 ساعته
            </p>
          </div>
          </div>
        </div>
      </div>

      <div class="py-vh-4 bg-gray-100 w-100 bg-cover bp-center bg-img overflow-hidden"style="
      --bs-aspect-ratio: 50%;" id="aboutus">
        <div class="container">
          <div class="row d-flex justify-content-between align-items-center">
            <div class="col-lg-4">
              <h6 class="border-dark" style="margin-top: 1rem;" data-aos="fade-left">
                استودیو اورامن <br />زیر نظر اساتید و فارغ التحصیلان رشته ی
                موسیقی فعالیت خود را از سال ها پیش آغاز کرد. ما برای ارائه ی
                خدمات آهنگسازی با بالاترین کیفیت ممکن ، آموزش صحیح و اصولی
                موسیقی به صورت پروژه محور و با به روزترین متدهای روز دنیا همگام
                با شما هستیم ؛ همچنین مفتخریم شما را از آغاز تا پایان همراهی
                کنیم.<br /><br />
                با مدیریت علی افتوت
              </h6>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="call">
      <div class="container small border-top" >
        <div class="row py-5 d-flex justify-content-between">
          <div class="col-12 col-lg-6 col-xl-3 border-end p-5">
              <img
                src="img/logo.png"
                fill="currentColor"
                class="bi bi-layers-half logo"
                viewbox="0 0 16 16"
                alt="logo"
              >
              </img>

            <address class="text-secondary mt-3">
              استودیو اورامن <br />ارائه دهنده ی خدمات آهنگسازی  تنظیم نوازندگی
              رکورد میکس و مسترینگ طراحی آلبوم کاور ساخت تیزر و موزیک ویدئو
              انتشار موسیقی در تمامی پلتفرم های موسیقی <br />اخذ مجوز از وزارت
              فرهنگ و ارشاد اسلامی <br /><br />
              <div title="Phone">تلفن تماس: 09190946041</div>
            </address>
          </div>
        </div>
      </div>

      <div class="container text-center py-3 small">
        ساخته شده
        <a
          href="https://mmdalam.ir"
          style="color: white"
          class="link-fancy"
          target="_blank"
          >mmdalam.ir</a
        >
      </div>
    </footer>